<?xml version="1.0" encoding="utf-8" ?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData"
                     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                     version="2.0">

  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>

  <schedule>

    <job>
      <name>Candidatos Files Job</name>
      <group>Job para atualização de candidatos</group>
      <description>This is the description of the sample job</description>
      <job-type>   Candidatos.Sync.Job.FileSyncJob, Candidatos.Sync</job-type>
      <durable>true</durable>
      <recover>false</recover>
      <job-data-map>
        <entry>
          <key>key0</key>
          <value>value0</value>
        </entry>
        <entry>
          <key>key1</key>
          <value>value1</value>
        </entry>
        <entry>
          <key>key2</key>
          <value>value2</value>
        </entry>
      </job-data-map>
    </job>

    <trigger>
      <cron>
        <name>Sample Job Trigger</name>
        <group>Sample Job Group Trigger</group>
        <description>This is the sample job trigger description</description>
        <job-name>Candidatos Files Job</job-name>
        <job-group>Job para atualização de candidatos</job-group>
        <misfire-instruction>SmartPolicy</misfire-instruction>
        <!-- Trigger every five seconds starting at 1 second past -->
        <cron-expression>0 0/2 * 1/1 * ? *</cron-expression>
      </cron>
    </trigger>

  </schedule>

</job-scheduling-data>